<!DOCTYPE html>
<html>
<head>
    <title>Добавить заметку</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'add.css' %}">
</head>
<body>
    <h1>Добавить заметку</h1>
    <form method="post">
        {% csrf_token %}
        <label>Заголовок:</label>
        <input type="text" name="title" required><br>
        <label>Описание:</label>
        <textarea name="description" required></textarea><br>
        <label>Дата:</label>
        <input type="date" name="date" required><br>
        <label>Цвет:</label>
        <input type="color" name="color"><br>
        <button type="submit">Сохранить</button>
    </form>
    <a href="{% url 'note_list' %}">Назад</a>
</body>
</html>
