body {
    font-family: Georgia, sans-serif;
    background-color: #fafafa;
    color: #333;
    font-weight: 400;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 73%);
}
img {
    max-width: 100%;
}
.container {
    width: 1400px;
    margin: 0 auto;
}
header {
    padding: 50px 0;
}
header .logo { 
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    font-weight: 800; /* Жирный шрифт */
    font-size: 46px; /* Размер шрифта */
    color: black; /* Цвет текста черный */
    text-decoration: none;
}
.wrapper1 {
    display: flex; /* Используем Flexbox */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    height: 70vh; /* Высота на весь экран */
}
/* Стили для контейнера с формой */
.container1 {
    background-color: white; /* Белый фон для формы */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Легкая тень для глубины */
    padding: 30px; /* Отступы внутри контейнера */
    width: 400px; /* Ширина контейнера */
    height: 320px;
    text-align: center; /* Выравнивание текста по центру */
}
/* Стили для заголовка формы */
h1 {
    margin-bottom: 20px; /* Отступ снизу заголовка */
}
/* Стили для кнопки Войти и Регистрация */
button[type="button"] {
    width: calc(100% - 20px); /* Полная ширина кнопки с учетом отступов */
    padding: 10px; /* Отступы внутри кнопки */
    margin-top: 30px; /* Отступ сверху кнопки */
    background-color: #ffffff; /* Цвет фона кнопки Войти */
    color: rgb(0, 0, 0); /* Цвет текста на кнопке */
    font-size: 20px;
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Скругление углов кнопки */
    cursor: pointer; /* Курсор при наведении на кнопку */
}
/* Эффект при наведении на кнопку Войти */
button:hover {
    background-color: rgba(238,174,202,1); /* Более темный цвет фона при наведении на кнопку Войти */
}
